body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    line-height: 1.6;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Header principal */
.main-header {
    font-weight: bold;
    color: #212529;
}

.main-header small {
    font-size: 1.2em;
    color: #6c757d;
}

.c-flex {
    flex:auto;
}


/* Header de las secciones */
.header-dark {
    color: #343a40;
    font-weight: bold;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Flexbox para información personal */
.personal-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

/* Imagen cuadrada en la sección de información personal */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #28a745;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos del texto en la sección de información personal */
.info-text p {
    margin: 5px 0;
    font-size: 1.1em;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    border-radius: 0 0 8px 8px;
    font-size: 0.9em;
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 768px) {
    .personal-info {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        margin-bottom: 20px;
    }
}
a {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center;
}
